html {
  --scrollbarBG: #cfd8dc;
  --thumbBG: #90a4ae;
}
@media (prefers-color-scheme: dark) {
  :root {
    --scrollbarBG: #333;
    --thumbBG: #707070;
  }
}
::-webkit-scrollbar {
  width: 11px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
