.min-width-zero {
  min-width: 0;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.issue:hover {
  transition: background 0.3s ease;
  background: rgba(0, 0, 0, 0.3);
}
